Source: xserver-xorg-video-cirrus
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Branden Robinson <branden@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>
Build-Depends: debhelper (>= 5), pkg-config, xserver-xorg-dev (>= 2:1.2.0), x11proto-video-dev, x11proto-core-dev, x11proto-fonts-dev, x11proto-randr-dev, x11proto-render-dev, x11proto-xext-dev
Standards-Version: 3.7.2

Package: xserver-xorg-video-cirrus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xserver-xorg-core (>= 2:1.2.0)
Provides: xserver-xorg-video-1.1
Replaces: xserver-xorg (<< 6.8.2-35)
Description: X.Org X server -- Cirrus display driver
 This package provides the driver for the Cirrus Logic family of video
 cards.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'driver/xf86-video-cirrus' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg
